<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta property="og:title" content="Web development"/>
     <meta property="og:description" content="Modern agency to reach our mancomunated goals out"/>
     <meta property="og:image" content="https://facundogarcia-ar.herokuapp.com/icon">          
     <title>fle.tech</title>
     <!-- MS, fb & Whatsapp -->
     
     <!-- Site Name, Title, and Description to be displayed -->
     <meta property="og:site_name" content="Web development">
     <meta property="og:title" content="fle.tech">
     <meta property="og:description" content="Modern agency to reach out our mancomunated goals">
     
     <!-- Image to display -->
     <!-- Replace   «example.com/image01.jpg» with your own -->
     <meta property="og:image" content="https://facundogarcia-ar.herokuapp.com/images/SVG/fav-icon-2.svg">
     
     <!-- No need to change anything here -->
     <meta property="og:type" content="website" />
     <meta property="og:image:type" content="image/svg">
     
     <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
     <meta property="og:image:width" content="300">
     <meta property="og:image:height" content="300">
     
     <!-- Website to visit when clicked in fb or WhatsApp-->
     <meta property="og:url" content="https://facundogarcia-ar.herokuapp.com/">

     <!-- Links rel-->
     <link rel="icon" href="/images/SVG/fav-icon-2.svg">
     <link rel="stylesheet" href="/style2.css">
     <link rel="stylesheet" href="/queries.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
     
</head>
<body>

     <header>
               <img src="/images/SVG/Recurso-2.svg" alt="" class="logo">

               <div class="info">
                    <p class="web-dev">Web Development</p>
                    <p type="phone"><a href="tel:+4523498195"><i class="fas fa-phone-square-alt"></i> +4523498195</a></p>
                    <p type="email" class=""><a href="mailto:facundogarcia.ar@gmail.com"><i class="fas fa-envelope"></i> facundogarcia.ar@gmail.com</a></p>
               </div>

               <div class="idiomas">
                    <a href="https://facundogarcia-ar.herokuapp.com/"><img src="/images/SVG/Flag_of_Argentina.svg" alt="argentino" class="ar"></a>
                    <p>|</p>
                    <a href="https://facundogarcia-ar.herokuapp.com/en"><img src="/images/SVG/Flag_of_the_United_Kingdom.svg" alt="inglés" class="en"></a>
               </div>
     </header>

     <main class="fondo">
          
          <div class="video">

               <video src="/images/backgroundVideoPpio.mov"  autoplay loop muted>
               </video>  
          </div>

          <div class="derecha">

               <div class="hidden">
                    <a href="https://facundogarcia-ar.herokuapp.com/"><img src="/images/SVG/Flag_of_Argentina.svg" alt="argentino" class="ar"></a>
                    <p>|</p>
                    <a href="https://facundogarcia-ar.herokuapp.com/en"><img src="/images/SVG/Flag_of_the_United_Kingdom.svg" alt="inglés" class="en"></a>
               </div>
               
               <div class="contenido">
                    <h1>WE ARE CODING</h1>
                    <h4>Our website is currently undergoing developing. We should be launching shortly. Thank you for your patience. </h4>
                    
                    <!-- Begin Mailchimp Signup Form -->
                    <form action="https://gmail.us17.list-manage.com/subscribe/post?u=f5b15c59e8141d76a7b8e0454&amp;id=4e86bff121" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Keep me updated</button>
                    </form><!--End mc_embed_signup-->

                    <h3>Let's get in touch...</h3> 
                    <h2>Technologies and Tools</h2>

                    <div class="tech">
                         <a href=""><i class="fab fa-html5"></i></a>
                         <a href=""><i class="fab fa-css3-alt"></i></a>
                         <a href=""><i class="fab fa-js-square"></i></a>
                         <a href=""><i class="fab fa-node-js"></i></a>
                         <a href=""><i class="fab fa-react"></i></a>
                         <a href=""><i class="fas fa-database"></i></a>
                         <a href=""><i class="fab fa-github"></i></a>
                         <a href=""><i class="fab fa-jira"></i></a>
                    </div>
               </div>
          </div><!-- Derecha -->
     </main>
</body>
</html>