<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--<link rel="stylesheet" href="/style.css">-->
     <link rel="stylesheet" href="/style2.css">
     <title>Web Dev</title>
     
</head>
<body>
     
     <header>
          <div class="header">
               <!--<p class="diseño">Design</p>-->
               <img src="/images/SVG/Recurso-2.svg" alt="">
               <div class="info">
                    <p class="web-dev">Web Development</p>
                    <p type="phone"><a href="tel:+4523498195">+4523498195</a></p>
                    <p type="email" class=""><a href="mailto:">facundogarcia.ar@gmail.com</a></p>
               </div>
          </div>
     </header>
     <main class="fondo">
          
          <div class="video">

               <video src="/images/backgroundVideo.mov"  autoplay loop muted>
               </video>  
          </div>
          <div class="derecha">
               <h1>Under construction</h1>
               <h4>Our website is currently undergoing developing. We should be launching shortly. Thank you for your patience.</h4>
               <form action="">
                    <input placeholder="Enter your email" type="email"><button type="submit">Notify us
                    </button>
               </form>

               <h3>Let's get in touch...</h3>  
          </div>
     </main>
</body>
</html>