<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
     <title>Web Dev</title>
</head>
<body>
     <header >
          <img src="/images/SVG/Recurso 2.svg" alt="">
     </header>
     <div class="izquierda">
         
          <video src="/images/backgroundVideo.mov" autoplay loop muted></video>
          
     </div><div class="derecha">
          <h1>Under 
               construction</h1>
          <h4>Our website is currently undergoing developing. We should be launching shortly. Thank you for your patience.</h4>
          <form action="">
               <input placeholder="Enter your email" type="text"><button>Notify us</button>
          </form>
          <p>Let's stay in contact</p><br>
          <br><br><br><br><br><br><br><br><br><br><br>
          <p class="margen">.</p>
     </div>

</body>
</html>